<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="220">
    <mat-grid-tile [colspan]="profileColumSize" [rowspan]="profileRowSize">
    <a href="https://afrikanas.web.app" target="_blank">
        <mat-card class="dashboard-card">
        <mat-card-title>
          Uniswap KnockOff
        </mat-card-title>
        <mat-card-content class="dashboard-card-content">
          <img mat-card-md-image src="../../assets/img/components/otter-solid.svg" alt="Uniswap KnockOff Image">
        </mat-card-content>
      </mat-card>
      </a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="profileColumSize" [rowspan]="profileRowSize">
    <a href="https://afrikanas.web.app" target="_blank">
      <mat-card class="dashboard-card">
        <mat-card-title>
          Compound KnockOff
        </mat-card-title>
        <mat-card-content class="dashboard-card-content">
          <img mat-card-md-image src="../../assets/img/components/hippo-solid.svg" alt="Compound KnockOff Image">
        </mat-card-content>
      </mat-card>
    </a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="profileColumSize" [rowspan]="profileRowSize">
    <a href="https://afrikanas.web.app" target="_blank">
      <mat-card class="dashboard-card">
        <mat-card-title>
          CryptoPunks KnockOff
        </mat-card-title>
        <mat-card-content class="dashboard-card-content">
          <img mat-card-md-image src="../../assets/img/components/feather-solid.svg" alt="CrypoPunks KnockOff Image">
        </mat-card-content>
      </mat-card>
    </a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="profileColumSize" [rowspan]="profileRowSize">
    <a href="https://afrikanas.web.app" target="_blank">
      <mat-card class="dashboard-card">
        <mat-card-title>
          Seaport KnockOff
        </mat-card-title>
        <mat-card-content class="dashboard-card-content">
          <img mat-card-md-image src="../../assets/img/components/cow-solid.svg" alt="Seaport KnockOff Image">
        </mat-card-content>
      </mat-card>
    </a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="profileColumSize" [rowspan]="profileRowSize">
    <a href="https://afrikanas.web.app" target="_blank">
      <mat-card class="dashboard-card">
        <mat-card-title>
          Ethereum Ctf
        </mat-card-title>
        <mat-card-content class="dashboard-card-content">
          <img mat-card-md-image src="../../assets/img/components/flag-solid.svg" alt="Ethereum Ctf Image">
        </mat-card-content>
      </mat-card>
    </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
