<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      A summary of 120 gas reports submitted at Code4rena
    </mat-card-title>

    <img
      mat-card-avatar
      ngSrc="../../assets/img/components/profile.png"
      priority="true"
      height="20"
      width="20"
      alt="Profile photo"
    />
    <mat-card-subtitle
      ><time datetime="2022-10-17">Oct 17, 2022</time>- 15 min read
    </mat-card-subtitle>
    <mat-card-subtitle
      >Last Updated <time datetime="2022-12-24">2022-10-17</time>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-divider></mat-divider>
  <!--Introduction -->

  <mat-card-content class="dashboard-card-content"> </mat-card-content>
</mat-card>
