  <div class="grid-continaer">
    <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile [rowspan]="profileRowSize" [colspan]="profileColumSize">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Ethereum Gas Optimization Playbook
          </mat-card-title>
            <div mat-card-avatar class="article1-header-image"></div>
            <mat-card-subtitle>A summary of 120 gas reports submited at <a>Code4rena</a></mat-card-subtitle>
            <mat-card-subtitle><time datetime="2022-10-17">2022-10-17</time> </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="profileRowSize" [colspan]="profileColumSize">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Gas Optimizing Bored apess
          </mat-card-title>
            <div mat-card-avatar class="article1-header-image"></div>
            <mat-card-subtitle>Gas opimizing bored apes smart contracts</mat-card-subtitle>
            <mat-card-subtitle><time datetime="2022-10-17">2022-10-17</time> </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
