<div class="grid-container">
  <mat-grid-list cols="6" rowHeight="220">
    <mat-grid-tile colspan="1" rowspan="1">
      <a routerLink="home">
        <mat-card class="dashboard-card">
        <mat-card-title>
          Github
        </mat-card-title>
        <mat-card-content>
        <img mat-card-md-image src="../../assets/github.svg" alt="Github image">
        </mat-card-content>
      </mat-card>
      </a>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-title>
          Discord
        </mat-card-title>
        <mat-card-content>
        <img mat-card-md-image src="../../assets/discord.svg" alt="Discord image">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-title>
          Telegram
        </mat-card-title>
        <mat-card-content>
        <img mat-card-md-image src="../../assets/telegram.svg" alt="Telegram image">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-title>
          Twitter
        </mat-card-title>
        <mat-card-content>
        <img mat-card-md-image src="../../assets/twitter.svg" alt="Twitter image">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
