.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.slide {
  position: absolute;
  right: 0;
  margin: 10px;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 2;
}

.mat-sidenav-content {
  margin-top: 64px;
}
