.grid-container {
  margin: 20px;
}

app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin: 20px;
  padding: 20px;
}
