.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(100px auto);
  gap: 1em 1em;
  margin: 1em;

}

.grid-container-profile{
  grid-column: 1 / 4;
}

.grid-container-article1 {
  grid-column: 1 / 4;
}

.grid-container-article2 {
  grid-column: 1 / 4;
}

.grid-container-socials {
  grid-column: 1 / 2;
}

.grid-container-projects {
  grid-column: 2 / 4;
}

.article1-header-image {
  background-image: url('../../assets/img/components/c4-logo.svg');
  background-size: cover;
}

.article2-header-image {
  background-image: url('../../assets/img/components/uniswap-hero.png');
  background-size: cover;
}

.profile-header-image {
  background-image: url('../../assets/img/components/Profile.jpg');
  background-size: cover;
}

.dashboard-card-content {
  text-align: left;
}

.dashboard-card-content {
  text-align: left;
}
