.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
}

.profile-header-image {
  background-image: url('../../assets/img/components/Profile.jpg');
  background-size: cover;
}

.article1-header-image {
  background-image: url('../../assets/img/components/c4-logo.svg');
  background-size: cover;
}

.article2-header-image {
  background-image: url('../../assets/img/components/uniswap-hero.png');
  background-size: cover;
}
