<div class="grid-container">
  <div class="grid-item article1">
    <a href="#" routerLink="/article1">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Ethereum Gas Optimization Playbook </mat-card-title>
          <img
            mat-card-avatar
            ngSrc="../../../assets/img/components/c4rena.png"
            priority="true"
            height="20"
            width="20"
            alt="Code4rena logo"
          />
          <mat-card-subtitle
            ><time datetime="2022-10-17">Oct 17, 2022</time>- 15 min read
          </mat-card-subtitle>
          <mat-card-subtitle
            >Last Updated <time datetime="2022-12-24">2022-10-17</time>
          </mat-card-subtitle>
        </mat-card-header>
        <figure>
          <img
            mat-card-image
            class="articleImage"
            ngSrc="../../../assets/img/components/gas.jpeg"
            width="300"
            height="170"
            alt="Gas Optimization Image"
            priority
          />
        </figure>
        <mat-card-content class="dashboard-card-content">
          <div>A summary of 120 gas reports submitted at Code4rena</div>
        </mat-card-content>
      </mat-card>
    </a>
  </div>

  <div class="grid-item article1">
    <a href="#" routerLink="/article2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Summary of Vulnerabilities found in Code4rena
            reports</mat-card-title
          >
          <img
            mat-card-avatar
            ngSrc="../../../assets/img/components/c4rena.png"
            priority="true"
            height="20"
            width="20"
            alt="Code4rena logo"
          />
          >
          <mat-card-subtitle
            ><time datetime="2022-10-17">Oct 17, 2022</time>- 15 min read
          </mat-card-subtitle>
          <mat-card-subtitle
            >Last Updated <time datetime="2022-12-24">2022-10-17</time>
          </mat-card-subtitle>
        </mat-card-header>
        <figure>
          <img
            mat-card-image
            class="articleImage"
            ngSrc="../../../assets/img/components/solidity-vulnerabilities.webp"
            width="300"
            height="170"
            alt="Gas Optimization Image"
            priority
          />
        </figure>
        <mat-card-content class="dashboard-card-content">
          <div>A summary of 120 gas reports submitted at Code4rena</div>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
