
mat-card {
  margin: 15px;
  max-width: 400px;
}

.articleImage {
  width: 100%;
  object-fit: cover;
  height: auto;
}

mat-card:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid-container {
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 426px) {
  .grid-container {
  grid-template-columns: 1fr 1fr;
  }
  /* … */
}

@media (min-width: 769px) {
  .grid-container {
  grid-template-columns: 1fr 1fr;
  }
}
